:root {
    --gray: #EEEEEE;
	--light-gray: #EFEFEF;
	--dark-gray: #1D1D1D;
    --bg: #06080D;
	--white: #FFFFFF;
	--font-gray: #3D3D3D;
	--border-gray: #DDDDDD;
}

body {
    max-width: 1440px;
    margin: 81px auto 106px auto;
    font-family: "Fira Code", monospace;
    background: var(--bg);
    color: var(--white);
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}

section{
	padding-left: 50px;
    padding-right: 50px;
}
section.full{
	padding:0px;
	margin-top: 74px;
}
.s1{
	display:flex;
	margin-bottom: 228px;
}
.s1 img{
	margin-right:46px;
}
p{
	font-size: 28px;
	margin: 0px;
	line-height: 1.55;
}
a{
	color: var(--white);
	text-decoration: none;
}
h1{
	font-size:164px;
	word-spacing: -41px;
	line-height: 1;
    margin: 0px;
	letter-spacing: -6px;
}
h2 {
    font-size: 201px;
    line-height: 0.9;
    letter-spacing: -16px;
    word-spacing: -40px;
    margin: 70px 0px 106px 0;
    position: relative;
}

h2 .top-span {
    font-weight: 600;
    margin-left: 43px;
    letter-spacing: 9px;
    display: block;
    width: max-content;
}
h2.first .top-span{
	margin-left: 40px;
    letter-spacing: 0.8px;
}
h2 .bottom-h2 {
    display: block;
    margin-right: 34px;
    margin-left: -1000px;
    text-align: right;
    white-space: nowrap;
	letter-spacing: -2px;
}
h2.first .bottom-h2{
	margin-right: 318px;
    margin-left: -2000px;
	letter-spacing: -16px;
}

section.full {
    padding: 0px;
    margin-top: 74px;
}
h3{
	font-size: 80px;
	font-weight: 300;
	margin: 0 0 24px 0;
	line-height: 1;
}


p.lead{
	font-size: 28px;
	line-height: 1;
	margin: 0px 0px 0px 22px;
}
p.right{
	text-align: right;
	line-height: 1.4;
	font-size: 22px;
	color: var(----light-gray);
}
.desc{
	margin-bottom: 107px;
}
.desc p{
	max-width:850px;
}
.desc p span{
	font-weight: 700;
    word-spacing: -18px;
	letter-spacing: 29px;
}
.fc-weight{
	display:flex;
	justify-content: space-between;
	margin-top: 49px;
	margin-bottom: 38px;
}
.fc-weight-item{
	display:flex;
	padding: 6px;
	width: 16.66667%;
	padding-right: 10px;
	border:1px solid var(--bg);
	cursor:pointer;
}
.fc-weight-item.active,
.fc-weight-item:hover{
	border-color: var(--white);
}

.fc-weight-left{
	background: var(--dark-gray);
	width: 68.34px;
	min-width: 68.34px;
	height: 67.29px;
	min-height: 67.29px;
	display:flex;
	justify-content: center;
    align-content: center;
	align-items: center;
	font-size: 44px;
	margin-right: 10px;
}

.fc-weight-right{
	display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

.fc-700{
	font-weight: 700;
}
.fc-600{
	font-weight: 600;
}
.fc-500{
	font-weight: 600;
}
.fc-400{
	font-weight: 400;
}
.fc-300{
	font-weight: 300;
}

.fc-weigh-top{
	font-size: 20px;
    margin-bottom: 12px;
    line-height: 1;
}
.fc-weigh-down{
	font-size: 14px;
	line-height: 18px;
}
.smile{
	width: 100%;
	margin-bottom: 25px;
}
.qr{
	margin-top: 15px;
	text-align: right;
}
.bottom-h2{
	margin-left:-20px;
	font-weight:300;
	letter-spacing: -17px;
	
}
.window{
	background: var(--light-gray);
	padding: 80px 24px 40px 24px;
	width: 820px;
	min-height: 537px;
	max-width: 858.33px;
	margin-top: -166px;
	margin-bottom:126px;
	display: inline-block;
}
.window h3{
	font-size: 40px;
    line-height: 1.2;
    color: var(--font-gray);
    font-weight: 400;
    letter-spacing: -2px;
    text-align: center;
	margin:0px;
}
ul.lang{
	height: 350px;
	overflow-y: scroll;
	max-width: 541.57px;
	margin: 60px auto 33px auto;
	padding-left: 0px;
}
ul.lang li{
	list-style: none;
	padding: 13px;
	color: var(--font-gray);
	font-size:24px;
	cursor:pointer;
}
ul.lang li:hover,
ul.lang li.active{
	background: var(--bg);
	color: var(--white);
	transition: opacity 0.5s ease;
	-moz-transform: opacity 0.5s ease;    
	-webkit-transform: opacity 0.5s ease; 
	-o-transform: opacity 0.5s ease;      
	-ms-transform: opacity 0.5s ease;  
}

.btn-yes{
	padding: 11px 62px;
    line-height: 1;
    background: var(--bg);
    color: var(--white);
    float: inline-end;
    border: none;
    font-size: 24px;
	cursor:pointer;
}
.btn-yes:hover{
	opacity:0.7;
}
.yoohoo{
	text-align:center;
	font-size: 28px;
	color: var(--font-gray);
	padding-top: 220px;
}
.bg-a{
	background: url(../images/bg-aaa.svg);
    background-size: contain;
    background-repeat: no-repeat;
	width:1340px;
	height: 619px;
	margin-top: 265px;
	margin-bottom: 138px;
}

.for-whom-item{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	letter-spacing: 1px;
	color: var(--white);
}

.for-whom>.for-whom-item:first-child {
	font-size:45px;
	margin-bottom: 18px;
}
.for-whom>.for-whom-item:nth-child(2){
	font-size:40px;
	margin-bottom: 20px;
}
.for-whom>.for-whom-item:nth-child(3){
	font-size:35px;
	margin-bottom: 20px;
}
.for-whom>.for-whom-item:nth-child(4){
	font-size:30px;
}
.dynamic-chevrons-after {
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
	justify-content: flex-end;
}
.dynamic-chevrons-before {
    height: fit-content;
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.for-whom>.for-whom-item:first-child .dynamic-chevrons-before{
	width: 85px;
}
.for-whom>.for-whom-item:first-child .dynamic-chevrons-after{
	width: 368px;
}
.for-whom>.for-whom-item:nth-child(2) .dynamic-chevrons-before{
	width: 166px;
}
.for-whom>.for-whom-item:nth-child(2) .dynamic-chevrons-after{
	width: 164px;
}
.for-whom>.for-whom-item:nth-child(3) .dynamic-chevrons-before{
	width: 232px;
}
.for-whom>.for-whom-item:nth-child(3) .dynamic-chevrons-after{
	width: 220px;
}
.for-whom>.for-whom-item:nth-child(4) .dynamic-chevrons-before{
	width: 298px;
}
.for-whom>.for-whom-item:nth-child(4) .dynamic-chevrons-after{
	width: 180px;
}

.window-2{
	background: var(--light-gray);
	padding: 54px 45px 20px 45px;
	margin-top:136px;
	margin-bottom:54px;
	position: relative;
}
.window-2 h3{
	font-size: 40px;
    line-height: 1.2;
    color: var(--bg);
    font-weight: 400;
    letter-spacing: -2px;
	margin:0px;
}
.pangramm{
	margin-top:22px;
}
.pangramm p{
	font-size:17px; 
	margin-bottom: 10px;
	color: var(--bg);
}

.window-btn{
	display: flex;
    gap: 75px;
    position: absolute;
    right: 25px;
    top: 16px;
	align-items: center;
    justify-content: space-around;
}
.window-btn img{
	width: 19px;
}
.face{
	width: 100%;
	margin:94px 0px 110px;
}
.ligatur{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
}
.ligatur-desc {
	width: 66.66%;
}
.ligatur-item{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
    width: 16.66%;
    flex-shrink: 0;
	max-width: 129px;
}
.ligatur-item-head{
	font-size: 24px;
    line-height: 34px;
    letter-spacing: -1px;
    margin-top: 30px;
    text-align: center;
	
}
.ligatur-item:first-child{
    margin-right: 38px!important; 
}
.examples{
	display: flex;
    justify-content: space-between;
    align-content: stretch;
	margin-bottom: 20px;
}

.examples>div{
	width: calc(50% - 14px);
	background: var(--light-gray);
	color: var(--bg);
}
.window-head {
	display: flex;
	padding: 20px;
	font-size: 24px;
	gap: 70px;
	border-bottom: 1px solid var(--border-gray);
	justify-content: space-between;
    align-items: center;
}
.window-head-btn{
	display: flex;
	gap: 60px;
}
.window-head-btn img{
	width: 19px;
}
.window-example{
	padding: 20px 20px 54px 20px;
	font-size: 18px;
	font-weight: 400;
}
.window-example strong{
	font-weight: 700;
}
.window-example span{
	padding-left: 42px;
}
.window-end{
	width: 100%;
	margin-bottom: 54px;
}
.window-end-head{
	background: var(--light-gray);
	color: var(--bg);
	padding: 8px 30px;
	font-size: 24px;
}
.window-end-content{
	background: var(--dark-gray);
    color: var(--white);
    padding: 56px 30px 40px 30px;
}
.window-end h3{
	font-size: 60px;
}
.window-end button{
	border: 2px solid var(--white);
    font-size: 24px;
    padding: 7px 50px;
    line-height: 1;
    cursor: pointer;
    background: none;
    color: var(--white);
    font-weight: 300;
}

.window-end button:hover{
	opacity:0.7;
}

.window-end-content .btn {
	text-align: right;
}
