@import url('reset.css');
@import url('content.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --gray: #EEEEEE;
	--light-gray: #EFEFEF;
	--dark-gray: #1D1D1D;
    --bg: #06080D;
	--white: #FFFFFF;
	--font-gray: #3D3D3D;
	--border-gray: #DDDDDD;
}

body {
    max-width: 1440px;
    margin: 81px auto 106px auto;
    font-family: "Fira Code", monospace;
    background: var(--bg);
    color: var(--white);
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}
